body {								/*body*/
	background: url('./Img/ba.png');
	background-size: 30%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}


.main {
	float: left;
	width: 43%;
}

.h1_top {
	color: black;
	padding: 1%;
}
.main_text {
	padding: 2%;
}
.table {
	padding: 2%;
}
.image {
	width: 140px;
	height: 100px;
}
.vote {
	width: 300px;
}
.form-control {
	margin: 6% 0px;
}