body {								/*body*/
	background-color: red;
}


.main {
	float: left;
	width: 45%;
}

.h1_top {
	color: black;
	padding: 2%;
}
.main_text {
	padding: 2%;
}
.table {
	padding: 2%;
}
.image {
	width: 140px;
	height: 100px;
}

.vote {
	float: right;
	padding: 4%;
}